<h2>About us </h2>
<p>routing is the mechanisim and router is the library
    -7 phase (parse the url(break the url  and convert into url tree and use it in step 3) (/, (), :, ?, // these all used to devide the url), redirect, identify the router state, guard- run guards, resolve- run resolvers, activate, manage)
    -router-outlet (it is like a placeholder and where we mention router-outlet there only component will load)
    -create 3 4 component for routing(ex- dashboard, contact us, about us)
    -wildcard routing </p>
