<div style="text-align: center;">
  <h2>Routing concept</h2>
  <a routerLink="home" routerLinkActive="active home">Dashboard</a> |
  <a routerLink="contactus">Contact Us</a> |
  <!-- <a [routerLink]="contact">Contact Us(dynamic data loading from ts file)</a> | -->
  <a routerLink="aboutus">About Us</a> |
  <a routerLink="student">Student</a> |
  <!-- <a [routerLink]="['aboutus', 101]">About Us parameterised route</a> |
  <a [routerLink]="['aboutus', 101, 'debu panda']">About Us 2 parameter pass route</a> |  -->
  <a routerLink="book">Book Master</a> |

  <!-- <a [routerLink]="[{outlets:{aboutrouter:['aboutusnew']}}]">About Us new-r</a> | -->
  <!-- <a routerLink="aboutus" [state]="{id:1022,course:'angular', price:399 }">About Us send data client side</a> | -->
  <!-- <button (click)="dynamicdata()"> About us send data dynamic (server side)</button> -->
</div>



<!-- <button (click)="gotocontact()">Go to contact us(server side navigation)</button> -->

<!-- <div>
  <a href="home">Dashboard</a> |
  <a href="contactus">Contact Us</a> |
  <a href="aboutus">About Us</a> |
  <a href="student">Student</a>
</div> -->

<!-- <div style="background-color: green;">
  <router-outlet></router-outlet>
</div>
<div style="background-color: blue;">
  <router-outlet name="aboutrouter"></router-outlet>
</div> -->

<router-outlet></router-outlet>